table {
    border:black; /* 表格外框 */
    border-spacing: 0px;
    padding: 20px;
    border-collapse: collapse; /* 合併邊框 */
    margin-bottom: 20px; /* 添加底部邊框 */
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    height: 24px;
    min-width: 100px;
}

th {
    background-color: gray;
}

caption {
    font-size: 25px;
}

/* 斑馬紋效果 */
tr:nth-child(even) {
    background-color: #cecece;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
