#normal_table > table {
    border:black; /* 表格外框 */
    border-spacing: 0px;
    padding: 20px;
    border-collapse: collapse; /* 合併邊框 */
    margin-bottom: 20px; /* 添加底部邊框 */
}

#normal_table tr {
    width: 20px;
}

#normal_table th, #normal_table td {
    border: 1px solid black;
    border-collapse: separate;
    padding: 2px;
    height: 24px;
    min-width: 100px;
}

#color_table > table {
    border: none;
    border-spacing: 1px;
}

#color_table th, #color_table td {
    border: 1px solid black;
    border-collapse: separate;
    padding: 2px;
    height: 24px;
    min-width: 26px;
}

div {
    padding: 10px;
}

body {
    display: flex;
}